PassengerAppRoot /home/u486999505/domains/lavenderblush-locust-296462.hostingersite.com/hbuilds/current/nodejs
PassengerAppType node
PassengerNodejs /opt/alt/alt-nodejs22/root/bin/node
PassengerStartupFile server.js
PassengerBaseURI /
PassengerRestartDir /home/u486999505/domains/lavenderblush-locust-296462.hostingersite.com/hbuilds/current/nodejs/tmp
SetEnv NODE_OPTIONS "--require /home/u486999505/domains/lavenderblush-locust-296462.hostingersite.com/hbuilds/config/preload-timestamp.js"
SetEnv LSNODE_CONSOLE_LOG console.log
SetEnv TOKIO_WORKER_THREADS 2